<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @seat.location %>
  <br />
  <b>User:</b>
  <%= @seat.user_id%>
  <br />
  <b>User:</b>
  <%= @seat.user.email%>
</p>


<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
